.input{
  background-color: #00000029;
  width: 718px;
  margin: auto;
  height: 400px;
}



.image{
  
}

h1{
  font-size: 80px;
  color: white;
  margin-top: 400px;
  text-align: center;
}

body{
  background-image: linear-gradient(270deg,red,blue);
}

input{
  margin: 26px 8px 24px 151px;
    width: 400px;
    height: 60px;
    font-size: 30px;
    text-align: center;
   
}

.table{
  caption-side: bottom;
  border-collapse: collapse;
  background-color: #0000002b;
  width: 20px;
    
    
}
p{
  margin: 19px 59px 56px 89px;
    font-size: 40px;
    
}

tr{
  color: white;
  
}

.container{
  max-width: 720px;
  margin: 41px 45px 38px 104px;
}

button{
  cursor: pointer;
  width: 60px;
  height: 50px;
  font-size: 60px;
  margin: 4px 154px 15px 296px;

}

#botão1{
  cursor: pointer;
  width: 60px;
  height: 50px;
  font-size: 60px;
  margin: 4px 150px 15px 30px;
}

#botão2{
  cursor: pointer;
    width: 60px;
    height: 50px;
    font-size: 60px;
    margin: -124px 150px 15px 100px;
}

#p{
  width: 40px;
  height: 40px;
  margin: -18px 86px 50px -3px;
}

#p2{
  border-radius: 5px;
    width: 40px;
    margin: -8px 50px 67px -2px;
    height: 40px;
}

.table{
  width: 718px;
  height: 400px;
  margin: 50px auto auto 7px;
  font-size: 30px;
}

th{
  width: 33%;
}

#p3{
  margin: -53px 59px 30px -10px;
  font-size: 80px;
  text-align: center;
  color: white;
}